@import 'https://js.arcgis.com/4.21/@arcgis/core/assets/esri/themes/light/main.css';
.esri-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#mapViewNode {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  &.inSolvingMode {
    cursor: crosshair;
  }
}

#controlPanel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 300px;

  display: flex;
  background-color: #fff;
  opacity: 0.7;

  .control-panel-btn {
    margin: auto 2px;
  }

  .vrp-vehicles-toolbar {
    display: flex;

    &.disabled {
      pointer-events: none;
    }

    .add-vrp-vehicle {
      width: 25px;
      height: 25px;
      margin: 3px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../assets/imgs/web/add-vehicle-dark-512.png);

      cursor: pointer;

      &.active {
        background-color: #eee;
        opacity: 0.9;
        border-width: 3px;
        border-color: #0000FF;
        border-style: solid;
      }
    }
  }



}

#loadingMaskWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  &.isHidden {
    display: none;
  }

  .loading-mask-back {
    width: 100%;
    height: 100%;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #888888;
    opacity: 0.5;

    .loading-mask-content {
      text-align: center;
      color: #000;

    }
  }
}
